<div class="friend-container">  
  <div class="friend-thumb">
    <figure>
      <img src="https://c1.staticflickr.com/8/7407/13785133614_6254abb8c4.jpg" alt="Profile Photo" >
       <figcaption class="online"></figcaption>
    </figure>
  </div>
  <div class="friend-content">
      <div class="friend-name"><em>username</em></div>
      <div class="last-msg">Anim pariatur cliche reprehenderit, enim eiusmod high... <em>- 20 minutes ago</em> </div>
  </div>
</div>