<div class="member-container">  
  <div class="member-thumb">
    <figure>
      <img src="https://via.placeholder.com/40.png" alt="Profile Photo">
       <figcaption class="member-online"></figcaption>
    </figure>
  </div>
  <div class="friend-content">
      <div class="member-name"><%= user.username %></div>
      <div class="status"><small><em>online - TBD</em></small></div>
  </div>
</div>